node_modules
.pnpm-store
dist
dist-deploy
deploy.zip
build
.turbo
.cache

.env
.env.local
.env.*.local

*.log
npm-debug.log*
pnpm-debug.log*

.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

coverage
*.lcov

apps/api/data/*.db
apps/api/data/*.db-journal
apps/api/data/*.db-wal
apps/api/data/*.db-shm

openapi.json
.tsbuildinfo
